body {
  text-align: center;
  background-color: #FDF6F0;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  padding-top: 6em;
}

h1 {
  font-size: 3.5rem;
}

tr#links {
  font-size: 1em;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
    color: green;
}
